@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper>main {
    flex-grow: 1;
}

/*---Обмежуючий контейнер---*/
[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
/*=================*/

